<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Habs Bet - @ViewBag.Title</title>
</head>
<body>
    @Html.Partial("Header")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("Footer")
</body>
</html>
